<!-- view/parials/header.ejs -->

<nav>
  <h1>TinyApp</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/urls/new">Create Shortlink</a></li>
    <li><a href="/urls">View Database (List)</a></li>
    <li><a href="/urls.json">View Database (JSON)</a></li>
  </ul>
</nav>

<hr/>