<!-- view/parials/header.ejs -->

<nav>
  <h1>TinyApp</h1>
  <ul>
    <li class="navbar"><a href="/" class="navbar">Home</a></li>
    <li class="navbar"><a href="/urls/new" class="navbar">Create Shortlink</a></li>
    <li class="navbar"><a href="/urls" class="navbar">View Database (List)</a></li>
    <li class="navbar"><a href="/urls.json" class="navbar">View Database (JSON)</a></li>
  </ul>

    <br/>
    <br/>

    <p>Welcome, <%= username %>!</p>

    <!-- Not logged in -->
    <% if (username !== "Guest") { %>
      <form action="/logout" method="POST">
        <input type="submit" value="Sign Out">
      </form>

    <!-- Is logged in -->
    <% } else { %>
      <form action="/login" method="POST">
        <label for="username">Login </label>
        <input id="username" name="username" type="text">
        <input type="submit" value="Sign In">
      </form>
    <% }; %>

  </ul>
</nav>
<hr/>