<!-- view/parials/header.ejs -->

<nav>
  <h1>TinyApp</h1>
  <ul>
    <li class="navbar"><a href="/" class="navbar">Home</a></li>
    <li class="navbar"><a href="/urls/new" class="navbar">Create Shortlink</a></li>
    <li class="navbar"><a href="/urls" class="navbar">Your Shortlinks</a></li>
  </ul>

    <br/>
    <br/>

    <!-- Is logged in -->
    <% if (user) { %>
      <p>Welcome back, <%= user["email"] %>!</p>
      <form action="/logout" method="POST">
        <input type="submit" value="Sign Out">
      </form>

    <!-- Is not logged in -->
    <% } else { %>
      <p>Welcome, Guest!</p>
      <p><a href="/login"> Sign In</a> or <a href="/register">Create a new account</a></p>
    <% }; %>

</nav>
<hr/>