<!-- error_403.ejs -->

<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <ul>
      <h2>Error - 403 Forbidden</h2>
      <h3>You are not allowed to see that. Or do that.</h3>
    </ul>
  </main>

  <footer>
    <% include ./partials/_footer %>
  </footer>

</body>
</html>