<!-- error_401.ejs -->

<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <ul>
      <h2>Error - 401 Unauthorized</h2>
      <h3>You need to be logged in to do that.</h3>
      <p><a href="/login">Sign in</a> to start shortening links!</p>
      <p>Don't have an account? <a href="/register">Create a new account today!</a></p>
    </ul>
  </main>

  <footer>
    <% include ./partials/_footer %>
  </footer>

</body>
</html>