<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <ul>
      <h2>Error - Invalid username or password</h2>
      <h3>Please go back and try again.</h3>
    </ul>
  </main>

  <footer>
    <% include ./partials/_footer %>
  </footer>

</body>
</html>