<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <ul>
      <h2>404'D!</h2>
      <p>I don't know what you did, but you messed up.</p>
      <!-- <img src="../bobbarkerfail.jpg"/> -->
    </ul>
  </main>

  <footer>
    <% include ./partials/_footer %>
  </footer>

</body>
</html>