<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <ul>
      <h2>I'm a little teapot, short and stout</h2>
      <p>This is my handle, this is my spout</p>
      <p>When I get all steamed up hear me shout</p>
      <p>Tip me over and pour me out</p>
    </ul>
  </main>

  <footer>
    <% include ./partials/_footer %>
  </footer>

</body>
</html>