<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <h2>Welcome to TinyApp!</h2>

    <!-- Is logged in -->
    <% if (user) { %>
      <ul>
        <li><a href="urls/new">Create a new shortlink!</a></li>
        <li><a href="urls">View your shortlinks</a></li>
      </ul>

    <!-- Is not logged in -->
    <% } else { %>
      <p><a href="/login">Sign in</a> to start shortening links!</p>
      <p>Don't have an account? <a href="/register">Create a new account today!</a></p>

    <% }; %>
  </main>

  <footer>
    <% include ./partials/_footer %>
  </footer>

</body>
</html>