<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <h2>Welcome to TinyApp!</h2>
    <marquee><h3>This is soooooo Web 1.0. Nobody uses these anymore.</h3></marquee>

    <h3><acronym title="You did it!">Hover over me</acronym></h3>

    <ul>
      <li><a href="urls/new">Create a new shortlink!</a></li>
      <li><a href="urls">View URL database as a list</a></li>
      <li><a href="urls.json">View URL data as JSON</a></li>
    </ul>
  </main>

  <footer>
    <% include ./partials/_footer %>
  </footer>

</body>
</html>