<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <ul>
      <h2>Success!</h2>
      <p><strong><a href="../u/<%= shortURL %>">http://localhost:8080/u/<%= shortURL %></a></strong> now links to <strong><a href="<%= urls[shortURL] %>"><%= urls[shortURL] %></a></strong></p>
    </ul>
  </main>

</body>
</html>