<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <ul>
      <% for (key in urls) { %>
      <li><a href="./urls/<%= key %>">localhost:8080/u/<strong><%= key %></strong></a> ----> <a href="<%= urls[key] %>"><%= urls[key] %></a></li>
      <% }; %>
    </ul>
  </main>

</body>
</html>