/* style.css */

body {
    background-color: black;
    color: white;
    font-family: "Comic Sans MS";

    cursor: url(cursor.gif), auto;
}

h1 {
  color: yellow;
  font-size: 36px;
}

h2 {
  color: red;
  font-size: 28px;
}