/* style.css */

.userEmail {
  color: #80FFE0;
}

body {
  background-color: #304060;
  color: white;
  font-family: 'Poppins', sans-serif;
}

hr {
    border-style: solid;
    color: #6080A0;
    border-width: 3px;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
}

td {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

li.navbar {
  display: inline;
  float: left;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 64px;
  line-height: 64px;
}

h2 {
  font-size: 36px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

form.urlItem {
  display: inline;
}

input {
  font-family: 'Poppins', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 16px;
  width: 400px;
}

input[type="submit"] {
  width: 100px;
  font-size: 16px;
}

a.navbar {
  display: block;
  padding: 8px;
  background-color: #406080;
}

a:link {
  color: #C0E0FF;
}

a:visited {
  color: #C0E0FF;
}

a:hover {
  color: #80C0FF;
  font-weight: 900;
}